@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
fieldset,
svg {
  border: 0;
  max-width: 100%;
  vertical-align: top;
}

ol,
ul {
  list-style: none;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

address,
em {
  font-style: normal;
}

strong {
  font-weight: normal;
}

iframe {
  overflow: hidden;
  border: 0;
}

textarea {
  resize: none;
}

body {
  -webkit-text-size-adjust: none;
}

legend,
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

/* dark / light 모드 변수*/
html[data-theme=dark] {
  --color-text: #fff;
  --color-background: #222;
  --color-btn: #cab8ff;
  --color-contents: #ccc;
  --logo: url(../img/logo_white.png);
  --logo-on: url(../img/logo_black.png);
  --btn-figma: url(../img/figma_white.png);
  --check-line: url(../img/check_white.png);
}

html[data-theme=light] {
  --color-text: #222;
  --color-background: #fff;
  --color-btn: #0072ce;
  --color-contents: #666;
  --logo: url(../img/logo_black.png);
  --logo-on: url(../img/logo_white.png);
  --btn-figma: url(../img/figma_black.png);
  --check-line: url(../img/check.png);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
body.on {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

#wrap {
  min-width: 320px;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

/*=================== mouse cursor ===================*/
.cursor {
  width: 30px;
  height: 30px;
  background-color: #d7ec00;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
  transition: transform 0.5s;
}

/* mouse hover style*/
.cursor.hover {
  mix-blend-mode: difference;
  transform: scale(6);
}

/*=================== header ===================*/
#header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-background);
  height: 100px;
  z-index: 999;
  /* color 모드 버튼*/
  /* 모바일 gnb 버튼*/
  /* 모바일 gnb*/
}
#header.on {
  position: fixed;
  background-color: var(--color-text);
  color: var(--color-background);
}
#header.on .logo a {
  background: var(--logo-on) no-repeat 0 0/178px;
}
#header.on .btn_toggle .toggle {
  background-color: var(--color-background);
}
#header.on .btn_toggle .toggle::before {
  color: var(--color-text);
}
#header.on .btn_toggle .toggle::after {
  color: var(--color-text);
}
#header.on .btn_toggle .ball {
  background-color: var(--color-text);
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .logo a {
  display: block;
  width: 178px;
  height: 100px;
  background: var(--logo) no-repeat 0 0/178px;
  text-indent: -9999px;
}
#header .header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .gnb li {
  padding: 0 50px;
}
#header .btn_toggle {
  margin-left: 50px;
}
#header .btn_toggle .toggle {
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  height: 30px;
  width: 90px;
  background-color: var(--color-text);
}
#header .btn_toggle .toggle:before {
  content: "ON";
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  color: var(--color-background);
}
#header .btn_toggle .toggle:after {
  content: "OFF";
  font-size: 1.5rem;
  color: var(--color-background);
}
#header .btn_toggle .ball {
  width: 34px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  right: 9px;
  transition: all 0.2s linear;
  transform: translateX(0);
  background-color: var(--color-background);
}
#header .btn_toggle .checkbox:checked + .toggle .ball {
  transform: translateX(-40px);
}
#header .btn_open {
  display: none;
}
#header .m_gnb_area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-background);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  transform: translateX(100%);
  transition: all 0.5s;
}
#header .m_gnb_area.on {
  transform: translateX(0);
}
#header .m_gnb_wrap li {
  margin: 50px 0;
}
#header .m_gnb_wrap li a {
  padding: 0 50px;
  position: relative;
  display: block;
  text-align: center;
  font-size: 8rem;
}
#header .m_gnb_wrap li a:hover::after {
  width: 100%;
}
#header .m_gnb_wrap li a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  right: 0;
  bottom: 0;
  background: var(--check-line) no-repeat 0 0/contain;
  transform: rotateZ(-1deg);
  transition: width 0.2s cubic-bezier(0.18, 0.45, 0.1, 0.98);
  width: 0;
}
#header .btn_close {
  position: absolute;
  right: 30px;
  top: 0;
  font-size: 3.5rem;
}

/*=================== main_visual ===================*/
.main_visual {
  padding: 100px 0 100px;
  overflow: hidden;
}
.main_visual .txt_hello {
  font-size: 10vw;
}
.main_visual .hello01 {
  -webkit-animation: fadein 2s ease-out;
          animation: fadein 2s ease-out;
}
.main_visual .hello02 {
  -webkit-animation: fadein 2s 0.5s ease-out;
          animation: fadein 2s 0.5s ease-out;
}
.main_visual .hello03 {
  -webkit-animation: fadein 2s 1.2s ease-out;
          animation: fadein 2s 1.2s ease-out;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.main_visual .txt_bg {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
}
.main_visual .txt_bg p {
  font-size: 19vw;
  color: var(--color-background);
  text-shadow: -1px 0px rgba(119, 119, 119, 0.2), 0px 1px rgba(119, 119, 119, 0.2), 1px 0px rgba(119, 119, 119, 0.2), 0px -1px rgba(119, 119, 119, 0.2);
  white-space: nowrap;
  -webkit-animation: marquee 200s linear infinite;
          animation: marquee 200s linear infinite;
}
@-webkit-keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.main_visual .btn_figma {
  position: absolute;
  right: 30px;
  bottom: 3.4vw;
}
.main_visual .btn_figma a {
  display: block;
  -webkit-animation: rotate 6s 0.5s infinite linear;
          animation: rotate 6s 0.5s infinite linear;
  text-indent: -9999px;
  width: 8vw;
  height: 8vw;
  background: var(--btn-figma) no-repeat 0 0/8vw;
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*=================== main_portfolio ===================*/
.main_portfolio {
  padding: 160px 0 140px;
}
.main_portfolio .inner {
  height: 666px;
}
.main_portfolio .slider_wrap {
  height: 100%;
}
.main_portfolio .slider_container {
  height: 100%;
  position: relative;
}
.main_portfolio .slide {
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  overflow: hidden;
}
.main_portfolio .info {
  width: 45%;
  height: 666px;
  -webkit-animation: fadein-info 2s;
          animation: fadein-info 2s;
}
@-webkit-keyframes fadein-info {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadein-info {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.main_portfolio .tit_wrap h3 {
  font-size: 5rem;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
}
.main_portfolio .tit_wrap h3:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 2px;
  background: var(--color-text);
}
.main_portfolio .info_list {
  margin-top: 72px;
}
.main_portfolio .info_list li {
  margin-top: 20px;
  display: flex;
  align-items: baseline;
}
.main_portfolio .info_list li:first-child {
  margin-top: 0;
}
.main_portfolio .info_list li:nth-child(2) span:last-child br {
  display: none;
}
.main_portfolio .info_list span:first-child {
  width: 120px;
  flex-shrink: 0;
}
.main_portfolio .info_list span:last-child {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.8rem;
  line-height: 2;
  letter-spacing: -0.05em;
  color: var(--color-contents);
}
.main_portfolio .img_wrap {
  display: flex;
  justify-content: center;
  width: 50%;
  -webkit-animation: scale 2s;
          animation: scale 2s;
}
@-webkit-keyframes scale {
  from {
    opacity: 0;
    scale: 1.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes scale {
  from {
    opacity: 0;
    scale: 1.1;
  }
  to {
    opacity: 1;
  }
}
.main_portfolio .img_wrap img {
  -webkit-user-drag: none;
}
.main_portfolio .btn_go {
  position: absolute;
  left: 0;
  bottom: 140px;
}
.main_portfolio .btn_go a {
  display: block;
  width: 300px;
  line-height: 50px;
  background: #cab8ff;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2.4rem;
  color: #222;
  transition: all 0.2s;
}
.main_portfolio .btn_go span {
  display: block;
  position: absolute;
  left: 7px;
  top: 7px;
  width: 300px;
  height: 50px;
  border: 2px solid #cab8ff;
  z-index: -1;
}
.main_portfolio .pt02 .btn_go a {
  background-color: #0072ce;
}
.main_portfolio .pt02 .btn_go span {
  border-color: #0072ce;
}
.main_portfolio .pt03 img {
  width: 45%;
}
.main_portfolio .pt03 .btn_go a {
  background-color: #ffcb0b;
}
.main_portfolio .pt03 .btn_go span {
  border-color: #ffcb0b;
}
.main_portfolio .pt04 .btn_go a {
  background-color: #ffcb0b;
}
.main_portfolio .pt04 .btn_go span {
  border-color: #ffcb0b;
}
.main_portfolio .pagination {
  position: absolute;
  left: 30px;
  bottom: 0;
  display: flex;
}
.main_portfolio .pagination span {
  width: 40px;
  height: 4px;
  background-color: var(--color-text);
  opacity: 0.2;
}
.main_portfolio .pagination span.active {
  width: 40px;
  height: 4px;
  background-color: var(--color-text);
  opacity: 1;
}
.main_portfolio .prev,
.main_portfolio .next {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 2px solid red;
}
.main_portfolio .prev {
  margin-left: -400px;
}

/*=================== main_contact ===================*/
.main_contact {
  padding: 160px 0 150px;
  /* input 스타일*/
}
.main_contact input[type=text],
.main_contact input[type=email],
.main_contact input[type=tel] {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--color-background);
  padding: 10px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--color-text);
  color: var(--color-background);
}
.main_contact label {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-background);
}
.main_contact input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid var(--color-background);
  margin-right: 20px;
  vertical-align: top;
}
.main_contact input[type=checkbox]:checked + label::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-left: 3px;
}
.main_contact ::-moz-placeholder {
  color: #b1b1b1;
}
.main_contact :-ms-input-placeholder {
  color: #b1b1b1;
}
.main_contact ::placeholder {
  color: #b1b1b1;
}
.main_contact textarea {
  width: 100%;
  border: 2px solid var(--color-background);
  padding: 10px;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-background);
  background-color: var(--color-text);
}
.main_contact .inner {
  display: flex;
  justify-content: space-between;
}
.main_contact .contact_left {
  width: 34%;
}
.main_contact .contact_left li {
  display: flex;
  align-items: baseline;
}
.main_contact .contact_left li:not(:first-child) {
  margin-top: 10px;
}
.main_contact .contact_left li span {
  display: inline-block;
  width: 100px;
}
.main_contact .contact_left li a {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-contents);
}
.main_contact .main_tit {
  font-size: 8rem;
}
.main_contact .txt {
  font-family: "Noto Sans KR", sans-serif;
  margin: 50px 0;
  line-height: 2;
}
.main_contact .contact_right {
  width: 65%;
  background-color: var(--color-text);
  padding: 100px 123px;
}
.main_contact .contact_right .txt_wrap {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 3.2rem;
  color: var(--color-background);
}
.main_contact .contact_right .txt_wrap p br:last-child {
  display: none;
}
.main_contact .contact_right .contact_form {
  margin-top: 60px;
}
.main_contact .contact_right .contact_form li {
  padding: 20px 0;
}
.main_contact .contact_right .file_wrap {
  position: relative;
}
.main_contact .contact_right .file_wrap input[type=file] {
  display: none;
}
.main_contact .contact_right .file_wrap label {
  position: absolute;
  right: 10px;
  bottom: 12px;
}
.main_contact .contact_right .file_wrap span {
  display: block;
  padding: 10px;
  border-bottom: 2px solid var(--color-background);
  color: #b1b1b1;
  font-family: "Noto Sans KR", sans-serif;
}
.main_contact .contact_right i {
  color: var(--color-background);
  font-size: 2rem;
}
.main_contact .contact_right .btn_send {
  text-align: center;
  margin-top: 30px;
}
.main_contact .contact_right .btn_send button {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-text);
  width: 150px;
  line-height: 50px;
  background-color: var(--color-background);
  border-radius: 25px;
}

/*=================== footer ===================*/
#footer {
  border-top: 2px solid var(--color-text);
  padding: 50px 0;
  text-align: center;
}
#footer .top_wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
}
#footer .top_wrap .btn_top {
  display: block;
  width: 60px;
  line-height: 60px;
  border-radius: 30px;
  text-align: center;
  background-color: #d7ec00;
  color: #222;
  font-size: 1.6rem;
  opacity: 0;
  transition: all 0.2s;
}

/* 데스크탑*/
@media (max-width: 1440px) {
  .inner {
    max-width: 1365px;
    padding: 0 30px;
  }
  .main_contact .main_tit {
    font-size: 7.5rem;
  }
}
/* 태블릿 */
@media (max-width: 1200px) {
  #header {
    height: 60px;
  }
  #header.on .logo a {
    width: 106px;
    background-size: 106px;
    height: 60px;
  }
  #header .logo a {
    width: 106px;
    height: 60px;
    background-size: 106px;
  }
  #header .gnb_wrap {
    display: none;
  }
  #header .btn_toggle {
    margin-left: 0;
  }
  #header .btn_open {
    display: block;
    margin-left: 30px;
    font-size: 3.5rem;
  }
  .main_portfolio {
    padding: 100px 0 100px;
  }
  .main_portfolio .inner {
    height: auto;
  }
  .main_portfolio .slider_container > li:not(:first-child) {
    margin-top: 150px;
  }
  .main_portfolio .slide {
    display: flex;
    position: static;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main_portfolio .slide.active .info {
    opacity: 1;
    transform: translateX(0);
  }
  .main_portfolio .slide.active .img_wrap {
    opacity: 1;
    scale: 1;
  }
  .main_portfolio .slide.active .btn_go {
    opacity: 1;
  }
  .main_portfolio .info {
    width: 80%;
    padding: 50px 0;
    height: auto;
    order: 1;
    -webkit-animation: none;
            animation: none;
    opacity: 0;
    transition: all 1s 0.3s;
    transform: translateX(-100%);
  }
  .main_portfolio .img_wrap {
    width: 80%;
    order: 0;
    -webkit-animation: none;
            animation: none;
    opacity: 0;
    scale: 1.2;
    transition: all 1s;
  }
  .main_portfolio .btn_go {
    order: 2;
    position: relative;
    top: 0;
    margin-bottom: 7px;
    opacity: 0;
    transition: all 1s 0.5s;
  }
  .main_portfolio .pagination {
    display: none;
  }
  .main_contact {
    padding: 100px 0 200px;
  }
  .main_contact .inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main_contact .main_tit {
    font-size: 8rem;
  }
  .main_contact .contact_left {
    width: 100%;
    text-align: center;
  }
  .main_contact .contact_left > ul {
    display: inline-block;
    text-align: left;
  }
  .main_contact .contact_right {
    margin-top: 50px;
    width: 100%;
    padding: 60px 100px 100px;
  }
  .main_contact .contact_right p {
    text-align: center;
  }
}
/* 모바일*/
@media (max-width: 767px) {
  body {
    font-size: 1.6rem;
  }
  #header .btn_open {
    margin-left: 20px;
  }
  #header .m_gnb_wrap li a {
    font-size: 4rem;
    padding: 0 20px;
  }
  #header .m_gnb_wrap li a::after {
    top: 17px;
  }
  .main_portfolio {
    padding-top: 0;
  }
  .main_portfolio .info {
    width: 100%;
  }
  .main_portfolio .info .info_list {
    margin-top: 52px;
  }
  .main_portfolio .info .info_list li {
    flex-wrap: wrap;
  }
  .main_portfolio .info .info_list li span {
    letter-spacing: normal;
  }
  .main_portfolio .info .info_list li span:first-child {
    width: 100%;
    font-size: 2rem;
  }
  .main_portfolio .info .info_list li span:last-child {
    margin-top: 15px;
    font-size: 1.6rem;
  }
  .main_portfolio .info .info_list li span:last-child br {
    display: block;
  }
  .main_portfolio .tit_wrap h3 {
    font-size: 3rem;
  }
  .main_portfolio .img_wrap {
    width: 100%;
  }
  .main_contact {
    padding-bottom: 100px;
  }
  .main_contact .main_tit {
    font-size: 11vw;
  }
  .main_contact .contact_left li {
    flex-wrap: wrap;
  }
  .main_contact .contact_left li:not(:first-child) {
    margin-top: 20px;
  }
  .main_contact .contact_left li span {
    width: 100%;
    margin-bottom: 10px;
  }
  .main_contact .contact_right {
    padding: 30px 20px;
  }
  .main_contact .contact_right .txt_wrap {
    font-size: 1.8rem;
  }
  .main_contact .contact_right .txt_wrap p br:last-child {
    display: block;
  }
  .main_contact .contact_right .contact_form {
    margin-top: 30px;
  }
  .main_contact .contact_right input[type=checkbox] + label::before {
    margin: 1px 10px 0 0;
    width: 24px;
    height: 24px;
  }
  .main_contact .contact_right input[type=checkbox]:checked + label::before {
    padding: 0px 3px;
  }
  #footer {
    padding: 30px 0;
    font-size: 1.4rem;
  }
  #footer .top_wrap {
    display: none;
  }
}
/* hover 애니메이션*/
@media (min-width: 1201px) {
  #header .btn_go a:hover:hover {
    transform: translate(7px, 7px);
  }
}/*# sourceMappingURL=main.css.map */